<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="FD65CE14.SquaresTheGame" Version="1.0.0.1" Publisher="CN=FBD3510B-7249-4387-8570-8A5E8FF06166" />
  <Properties>
    <DisplayName>Squares Game</DisplayName>
    <Description>None</Description>
    <PublisherDisplayName>Naked Ninja Studios Ltd.</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Squares" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="None" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>